urxvt.foreground: white
urxvt.background: black
urxvt.color1: rgb:88/8a/85
urxvt.color2: rgb:cc/00/00
urxvt.color3: rgb:4e/9a/06
urxvt.color4: rgb:34/65/a4
urxvt.color5: rgb:75/50/7b
urxvt.color6: rgb:0b/93/9b
urxvt.color7: rgb:d3/d7/cf
urxvt.color8: rgb:55/57/53
urxvt.color9: rgb:ef/29/29
urxvt.color10: rgb:8a/e2/34
urxvt.color11: rgb:fc/e9/4f
urxvt.color12: rgb:72/9f/cf
urxvt.color13: rgb:ad/7f/a8
urxvt.color14: rgb:00/f5/e9
urxvt.color15: rgb:ee/ee/ec
urxvt.font: xft:DejaVu Sans Mono:book:size=10,xft:WenQuanYi Micro Hei Mono:size=10,xft:Material Icons:size=10
urxvt.letterSpace: -2
urxvt.perl-ext-common: default,url-select
urxvt.url-select.launcher: google-chrome-stable
urxvt.url-select.underline: true
urxvt.url-select.button: 1
!urxvt.transparent: false
!urxvt.shading: 15
urxvt.scrollBar: false
urxvt.skipScroll: true
urxvt.inputMethod: fcitx 
urxvt.preeditType: OverTheSpot
urxvt.depth: 0
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
xdvi*background: white
xdvi*foreground: black
rofi.terminal: urxvtc
rofi.width: 50
rofi.columns: 2
rofi.combi-modi: window,drun,ssh
rofi.modi: combi
rofi.ssh-client: mosh
rofi.ssh-command: {terminal} -e zsh -c '{ssh-client} {host}'

